VERSION
*.swp

/obj/
/bin/
/build-appimage/

/platforms/

/languages/*.qm

/moc_*.h
/moc_*.cpp
/lrelease_wrapper.sh
/qmake_qmake_qm_files.qrc
/.qmake.stash
/qrc*.cpp
/uic_wrapper.sh
/Makefile

/build
*.AppImage
/AppDir/
/AblageP/
RESEARCH_NOTES/

